<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
    <div class="searchArea" th:fragment="searchArea()" th:if="${@viewManager.searchArea.showFlag}">
        <p>※検索条件を入力し、「検索」ボタンを押下してください。</p>
        <div class="searchItemArea">
            <div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル１</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル２</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル３</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル４</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル５</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル６</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
            </div>
            <div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル７</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル８</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル９</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル１０</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル１１</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
                <div class="searchItem">
                    <div class="searchItemTitle">タイトル１２</div>
                    <div class="searchItemValue">ああああ</div>
                </div>
            </div>
        </div>
        <button>検索</button>

    </div>
</body>
</html>