<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div layout:fragment="contents">
        <div class="link_area">
            <div class="link_category" th:each="category : ${contentsData.menuList}">
                <div class="category_title" th:text="${category.categoryName}"></div>
                <ul>
                    <li th:each="menuLink : ${category.viewList}">
                        <a th:href="@{/transition/nextView(viewId=${menuLink.viewId})}" th:text="${menuLink.viewTitle}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info_area">

        </div>
    </div>
</body>
</html>